*{
    font-family: 'Raleway', sans-serif;
}

html, body {
    height:100%;
    width:100%;
    margin:0;
}

body{
    background:#d1d1d1;
}


#chat-container {
    display: block;
    position: relative;
    margin: 0 auto;
    width: 95%;
    background: rgb(175, 175, 175);
    color: #FFF;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    height: auto;
    cursor: default;
    top: 10px;
    border-radius: 5px;
    min-height: 390px;
    max-height: 390px;
}

.chat-screen{
    background: rgba(0,0,0,0.45);
    height: 90%;
    min-height: 390px;
    max-height: 390px;
    overflow-y: auto;
    border-radius: 5px;
}

input{
    text-align: center;
    background: rgba(0,0,0,0.45);
    padding: 5px;
    width: 65%;
    border: 2px double #FFF;
    color: #FFF;
    outline:none;
    font-size:1em;
    border-radius: 5px;
}

button{
    outline:none;
    font-size:1em;
    border-radius: 5px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color:#FFF;
    font-style: italic;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color:#FFF;
    font-style: italic;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color:#FFF;
    font-style: italic;
  }
  :-moz-placeholder { /* Firefox 18- */
    color:#FFF;
    font-style: italic;
  }

.chat-line{
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    background: rgba(0,0,0,0.2);
    margin-top: 5px;
    margin-bottom: 5px;
    width: 99%;
    float: right;
    cursor: default;
    font-size: 0.9em;
}

#send-chat{
    padding: 5px;
    color: #FFF;
    background: rgba(0,0,0,0.45);
    border: 2px double #FFF;
    cursor:pointer;
}

.user-placeholder,
.bot-placeholder{
    border:2px double #FFF;
    border-radius: 50%;
    width:50px;
}

.bot-placeholder{
    float:left;
    margin-left:10px;
}
.user-placeholder{
    float:right;
    margin-right:10px;
}

.typing{
    color:#dbdbdb;
    font-size:1em;
}

.errorLine{
    color:#ff857c;
}
.okLine{
    color:#3fdc94;
}

.turn-on-flashlight{
    text-decoration: underline;
    color:#9facc3;
    cursor:pointer;
}